.cardContainer{
    background-color: #FEFEFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-height: 140px;
    row-gap: 0;
}

.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: center;
    padding: 0px;
    object-fit: contain;
}
.cardHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardBody{
    width: 100%;
    align-items: center;
}

.box {
    font-weight: 600;
    font-size: larger;
    display: flex;
    column-gap: 10px; /* Apply flex gap */
}

.box-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    flex: 1;
}


.cardId{
    color: rgb(164,164,166);
    font-size: 16px;
    font-weight: 500;
}

.prfImg img{
    width: 20px;
    height: 20px;
}

.cardTag{
    color: rgb(164,164,166);
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.cardBottom{
    width: 100%;
    align-items: center;
    font-weight: 600;
    display: flex;
    column-gap: 10px;
}

.cardBottom img{
    padding: 3px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
}

.cardBottom :last-child{
    padding: 3px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
}

.circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}