.navbarContainer{
    background-color: #FEFEFF;
    height: 30px;
    padding: 20px;
}

/* DropdownButton.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    border: 1px solid ;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
  }
  
  /* .dropdown-button:hover {
    background-color: #ffffff;
  } */
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    border-radius: 4px;
    z-index: 1000;
  }
  
  .dropdown-item {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .dropdown-item:last-child {
    border-bottom: none;
  }
  